[submodule "Pika/vendor/spdlog"]
	path = Pika/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pika/vendor/GLFW"]
	path = Pika/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Pika/vendor/glm"]
	path = Pika/vendor/glm
	url = https://github.com/g-truc/glm.git
