# Directories
.vs/
.claude/
bin/
bin-int/

# Files
*.user

# Debug only
Pikartisan/PikaProfile-Runtime.json
Pikartisan/PikaProfile-Shutdown.json
Pikartisan/PikaProfile-Startup.json

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Premake (gmake / xcode)
Makefile
*.xcodeproj
*.xcworkspace

# Assetes
# Pikartisan/Assetes # TODO!

# Mac
.DS_Store