# Directories
.vs/
bin/
bin-int/

# Files
*.user

# Debug only
Pikartisan/PikaProfile-Runtime.json
Pikartisan/PikaProfile-Shutdown.json
Pikartisan/PikaProfile-Startup.json

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Assetes
# Pikartisan/Assetes # TODO!
Pikartisan/Assetes/environment/skybox